* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1150px;
}

/*---------------ROWS-------------*/
.row-grid {
    display: flex;
    flex-wrap: wrap;
    border: 2px dashed purple;   
}

.card { 
    border: 2px solid gray;
    padding-bottom: 1.7rem;
    border-radius: 5px;
    margin: .4rem;
    flex: auto;    
    text-align: center;
}

h2 {
   margin-top: 0;
   font-size: 1.2rem;
   text-align: center;
   font-weight: 100;
}

img {
    width: 100%;
    height: 100%;  
    border-radius: 5px 5px 0px 0px;  
  }

/*---------------COLUMNS-------------*/
.col-grid {
    display: flex;
    flex-flow: column wrap;
    border: 2px dashed green;
    height: 170rem;       
    align-content: center; 
}