@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Cabin:wght@400;500;600&family=Fredericka+the+Great&display=swap');

/* Fonts */
$fonts-headline: 'Fredericka the Great', Arial, cursive;  /*h1*/
$fonts-subhead: 'Cabin Sketch', Arial, cursive;  /*h2 & h3*/
$fonts-body:  'Cabin', Arial, sans-serif;  /*p*/
/* Colors */
$background-color: #05173d;
$primary: #05173d; 
$accent1: #1a68ad;
$accent2: #7afacc;
$accent3: #ffe35c;
$accent4: #faa624;
/*$grey-sidebar: rgba(51, 55, 69, 0.9);   ????????*/
/* Font Colors */
$text-dark: #05173d;
$text-light: #fff;
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Cabin:wght@400;500;600&family=Fredericka+the+Great&display=swap');

