$background-color: black;
$base-color: white;

div {
  display: flex;
  gap: 30px;
  width: 800px;
  margin: 0 auto; 
}

#pattern-border {
  fill: $base-color; 
}

.card {
  width: 300px;
  height: 420px;
  margin-top: 30px;
  border-radius: 8px;
  background: $background-color;
}