* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: rgb(254, 254, 254);
}

header, main, footer {
    max-width: 700px;
    margin: auto;
}

header {
    margin: 1rem auto;
    border: 1px solid black;
    padding: 1rem;
    background-color: rgb(191, 183, 183);
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}
header img {
    width: 100%;
    box-shadow: 0 5px 5px rgba(3, 3, 3, .8);
    border-radius: 1rem;
    margin: 7px;
}

header h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 3.5rem;
    margin: 0;
    text-shadow: 0 3px 3px rgba(2, 0, 0, 0.8);
    color: white;
}

header, footer {
    background-color: rgb(66, 82, 121);
    color: white;
    text-align: center;
    padding: .5rem;
    border-radius: 1rem;
    text-shadow: 0 3px 3px rgba(2, 0, 0, 0.8);
}

main{
    padding: 1em;
    font-size: 1.2em;
}

main h2{
    font-size: 1.5em;
    padding-bottom: 1rem;
    color: rgb(11, 11, 11);
    text-shadow: 0 3px 3px rgba(2, 0, 0, 0.4);
}

li a {
    text-decoration: none;
}

main ul li{
    line-height: 1.5;
}

main ul{
    padding: 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

footer {
    margin: 1rem auto;
    padding-top: .5rem;
}

footer p:last-of-type{
    padding-top: .3rem;
    color: rgb(249, 243, 243);
}